
<div class="container">
    <form [formGroup] ="bookForm" (ngSubmit)="save()">
     <div class="form-group">
       <label for="id">ID LIVRE:</label>
       <input type="number" class="form-control" formControlName ="id" name="id">
     </div>
     <div class="form-group">
       <label for="titre">TITRE:</label>
       <input type="text" class="form-control" formControlName ="titre" name="titre" >
     </div>
     <div class="form-group">
       <label for="auteur">AUTEUR:</label>
       <input type="text" class="form-control"  formControlName ="auteur" name="auteur">
     </div>
     <div class="form-group">
       <label for="datePublication">DATE:</label>
       <input type="text" class="form-control"  formControlName ="datePublication"  name="datePublication" >
     </div>
     <button type="submit" class="btn btn-primary">Submit</button>
   </form> 
   
   
           
       <table class="table table-dark">
         <thead>
           <tr>
             <th> ID</th>
             <th>TITRE</th>
             <th>AUTEUR</th>
             <th>DATE</th>
             <th>ACTION</th>
           </tr>
         </thead>
         <tbody>
           <tr *ngFor="let book of books">
             <td>{{book.id}}</td>
             <td>{{book.titre}}</td>
             <td>{{book.auteur}}</td>
             <td>{{book.datePublication}}</td>
             <td>
               <button (click) ="findById(book.id)" type="button" class="btn btn-primary">UPDATE</button>
               <button (click) ="delete(book)" type="button" class="btn btn-primary">DELETE</button>
             </td>
             
           </tr>
         </tbody>
       </table>
     </div>
     
   
