<div class="container">
    <h4>Formulaire pour ajouter un livre</h4>
    <form [formGroup]="bookForm" (ngSubmit)="save()">
        <div class="form-group" id="hide">
            <label for="id">ID LIVRE:</label>
            <input
                type="number"
                class="form-control"
                formControlName="id"
                id="id"
            />
        </div>
        <div class="form-group">
            <label for="titre">TITRE:</label>
            <input
                type="text"
                class="form-control"
                formControlName="titre"
                id="titre"
            />
        </div>
        <div class="form-group">
            <label for="auteur">AUTEUR:</label>
            <input
                type="text"
                class="form-control"
                formControlName="auteur"
                id="auteur"
            />
        </div>
        <div class="form-group">
            <label for="datePublication">DATE:</label>
            <input
                type="text"
                class="form-control"
                formControlName="datePublication"
                id="datePublication"
            />
        </div>
        <!-- Upload file -->
        <input
            type="file"
            class="file-input"
            (change)="onFileSelected($event)"
            #fileUpload
        />

        <div class="file-upload">
            {{ fileName || "No file uploaded yet." }}
            <button
                type="button"
                class="btn btn-primary"
                (click)="fileUpload.click()"
            >
                <i class="bi bi-upload"></i>
            </button>
        </div>

        <!-- Progress bar -->
        <div class="progress">
            <div
                class="progress-bar progress-bar-striped progress-bar-animated"
                style="width: 100%"
                mode="determinate"
                [value]="uploadProgress"
                *ngIf="uploadProgress"
            ></div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
