
div.container {
  display: block;
  text-align: center;
  margin-top: 50px;
}

h4{
  margin-top: -30px;
  margin-bottom: 25px;
  border: 2px solid green;
  padding-top: 5px;
  padding-bottom: 5px;
  
}

form{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 35%;
}

#hide {
  display: none;
}


.file-input {
    display: none;

}

.file-upload{
  margin-top:  35px;
  margin-bottom:  15px;
}


.progress{
  margin-bottom: 35px;
}

.btn.btn-primary{
  margin-bottom: 35px;
}


