<!-- Grey with black text -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/books" routerLinkActive="active">Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/form-book" routerLinkActive="active">Form-Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contacts</a>
      </li>
    </ul>
  </nav>
