<div class="container">
    <h4>Formulaire pour modifier les informations</h4>
    <form 
        *ngIf="photo$ | async"
        [formGroup]="bookForm"
        (ngSubmit)="updateBookInfo()"
    >
        <div class="form-group">
            <label for="id">ID LIVRE:</label>
            <input #id
                type="number"
                class="form-control"
                formControlName="id"
                name="id"
            />
        </div>
        <div class="form-group">
            <label for="titre">TITRE:</label>
            <input
                type="text"
                class="form-control"
                formControlName="titre"
                name="titre"
            />
        </div>
        <div class="form-group">
            <label for="auteur">AUTEUR:</label>
            <input
                type="text"
                class="form-control"
                formControlName="auteur"
                name="auteur"
            />
        </div>
        <div class="form-group">
            <label for="datePublication">DATE:</label>
            <input
                type="text"
                class="form-control"
                formControlName="datePublication"
                name="datePublication"
            />
        </div>

        <img
            [src]="photoData | safeResourceUrl"
            alt="Card image"
            style="width: 20%"
        />
        <!-- Upload file -->
        <input
            type="file"
            class="file-input"
            (change)="onFileSelected($event)"
            #fileUpload
        />

        <div class="file-upload">
            {{ fileName || "No file uploaded yet." }}
            <button
                type="button"
                class="btn btn-primary"
                (click)="fileUpload.click()"
            >
                <i class="bi bi-upload"></i>
            </button>
        </div>

        <!-- Progress bar -->
        <div class="progress">
            <div
                class="progress-bar progress-bar-striped progress-bar-animated"
                style="width: 100%"
                mode="determinate"
                [value]="uploadProgress"
                *ngIf="uploadProgress"
            ></div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        <!-- I used #id (template varible) but it is also possible to use bookForm.value.id -->
        <button (click)="goBackToBooks()" class="btn btn-primary">Retour</button>
        
    </form>
    
</div>
