.mygrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-left: 20px;
  }

.card {
  width: 250px;
  height: auto;
  display: block;
  text-align: center;

}
  

img.image{
  display: block;
  margin-left : auto;
  margin-right: auto;
  width: 100%;
  height: 300px;
}


.flex-buttons{
  display: flex;
  width: 150px;
  justify-content: flex-start;
  margin: 0 -5px;
  
}

.flex-buttons > div {
  margin:0 5px;
  

}

.selected  {
  background-color: #d6e6f7;

}

div.card:hover {
  background-color: #bdd7f5;
}

