<div class="mygrid">
    <ng-container *ngFor="let photo of photos" >
        <div class="card">
            <img
            class="image"
                [src]="photo.photoData | safeResourceUrl"
                alt="Card image"
                style="width: 100%"
            />
            <div class="card-body" [class.selected]="photo.photoId=== selectedId">
                <h5 class="card-title">{{ photo.book.auteur }}</h5>
                <p class="card-text">
                     {{ photo.book.titre }}
                </p>
                <!-- make the hold card as a link
                <a [routerLink]="['/hero', hero.id]"></a>
                -->
                <div class="flex-buttons">
                    <div>
                        <a
                            href="#"
                            class="btn btn-primary"
                            [routerLink]="['/book-detail-edit', photo.photoId]"
                            ><i class="bi bi-pencil-fill"></i
                        ></a>
                    </div>
                    <div>
                        <button
                            (click)="deletePhotoById(photo.photoId)"
                            type="button"
                            class="btn btn-primary"
                        >
                            <i class="bi bi-trash"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>
