<div class="container">
<div id="search-component">
    <label for="search-box">Chercher par auteur</label>
    <input #searchBox id="search-box" (input)="search(searchBox.value)" />
  
    <ul class="search-result">
      <li *ngFor="let photo of photos$ | async" >
        <a [routerLink]="['/book-detail-edit', photo.photoId]">
          {{photo.book.titre}}
        </a>
      </li>
    </ul>
  </div>
</div>
