<div>
    <div class="flex-container">
        <div>
            <app-search-book></app-search-book>
        </div>
        <div>
            <app-list-cards></app-list-cards>
        </div>
    </div>
</div>
<app-messages></app-messages>
