<div>
    <img
        [@heartBeat]="isRelaxed ? 'relaxation' : 'contraction'"
        class="displayed"
        src="assets/images/heart.png"
    />
    <p>The image is now {{ isRelaxed ? "relaxation" : "contraction" }}!</p>
</div>
<!-- 
<div
    [@heartBeat]="isRelaxed ? 'relaxation' : 'contraction'"
    class="displayed"
></div>
-->
<div>
    <button (click)="toggle()">Toggle Relax/Contra</button>
</div>

